html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #fff;
}

:root {
  --orange-gradient: linear-gradient(90deg, #ff8d6b 5%, #ffba47 100%);
  --violet-gradient: linear-gradient(to right, #9e6aff, #c7acfb);
  --purpure-gradient: linear-gradient(to right, #8d70ee, #4d9fca);
  --overview-gradient: linear-gradient(to right, #b64fb0, #8051ff);
  --red-gradient: linear-gradient(to right, #e4334d, #e4687a);
  --white: #fff;
  --black: #000;
  --gray: #bababa;
  --dark-gray: #fbfbfb70;
  --white-transparent: #ffffff10;
}
